body {
    background-color: #f0f8ff;
    font-family: Comic Sans, sans-serif;
    text-align: center;
    color: #333;
}

h1 {
    color: #ff4500;
}

p {
    font-size: 18px;
}

h6 {
    background-color: yellow;
    text-align: left;
    color: dark-black;
    font-size: 60px;
}
p2 { font-size: 25px; }
